<div id="googleMap">
  <div id="map_canvas" style="width:720px; height:640px"></div>
  <div>MQTT Status<code id="status">---</code></div>
  <div>Publish example:<code>{"caree_id":1,"event":"MOVED", "location":{"lat":35.515132, "lon":134.1696503}}</code></div>
  <div id="careeDialog" title="--name--">
    <div class="event"></div>
    <div class="location"></div>
    <div class="heartrate"></div>
  </div>
</div>
