<ul class="status">
  <li class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        さかぐちたかし１
        <i class="fa fa-thumbs-up pull-right"></i>
      </h4>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="img-circle media-object" src="https://secure.gravatar.com/avatar/d3c693c0d247bd03f691982d41761189" alt="さかぐちたかし１"></a>
        </div>
        <div class="media-body">
          <ul>
            <li>まじげんき</li>
            <li>だいたいあの辺にいる</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        さかぐちたかし２
        <i class="fa fa-thumbs-down pull-right"></i>
      </h4>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="img-circle media-object" src="https://secure.gravatar.com/avatar/d3c693c0d247bd03f691982d41761189" alt="さかぐちたかし２"></a>
        </div>
        <div class="media-body">
          <ul>
            <li>げんきない</li>
            <li>さかぐちたかし１と仲良し</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        さかぐちたかし３
        <i class="fa fa-thumbs-down pull-right"></i>
      </h4>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="img-circle media-object" src="https://secure.gravatar.com/avatar/d3c693c0d247bd03f691982d41761189" alt="さかぐちたかし３"></a>
        </div>
        <div class="media-body">
          <ul>
            <li>いつも家に引きこもっている</li>
            <li>２ちゃんねるを栄養にして生きながらえている</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
